version: '3.12'

services:
    web:
        build: .
        command: python manage.py migrate --noinput && \ gunicorn backend.wsgi:application --bind 0.0.0.0:8000
        ports:
            - "8000:8000"
        volumes:
            - static_volumes:/app/static
            - media_volumes:/app/media

volumes:
    static_volumes:
    media_volumes:


