services:
    web:
        restart: always
        build:
            context: .
        environment:
            - SECRET_KEY=${SECRET_KEY}
            - DEBUG=${DEBUG:-false}
            - ADMIN_EMAIL=${ADMIN_EMAIL}
            - ADMIN_NAME=${ADMIN_NAME}
            - SENDGRID_SERVER=${SENDGRID_SERVER}
            - SENDGRID_PORT=${SENDGRID_PORT}
            - SENDGRID_USERNAME=${SENDGRID_USERNAME}
            - SENDGRID_PASSWORD=${SENDGRID_PASSWORD}
            - OSS_ACCESS_KEY_ID=${OSS_ACCESS_KEY_ID}
            - OSS_ACCESS_KEY_SECRET=${OSS_ACCESS_KEY_SECRET}
            - OSS_EXPIRE_TIME=${OSS_EXPIRE_TIME:-3600}
            - OSS_BUCKET_NAME=${OSS_BUCKET_NAME}
            - OSS_ENDPOINT=${OSS_ENDPOINT}
            - ALIYUN_BDD_NAME=${ALIYUN_BDD_NAME}
            - ALIYUN_BDD_USER=${ALIYUN_BDD_USER}
            - ALIYUN_BDD_PASSWORD=${ALIYUN_BDD_PASSWORD}
            - ALIYUN_BDD_HOST=${ALIYUN_BDD_HOST}
            - ALIYUN_BDD_PORT=${ALIYUN_BDD_PORT}
            - RECAPTCHA_SECRET_KEY=${RECAPTCHA_SECRET_KEY}
            - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE:-backend.settings_production}
        ports:
            - "8000:8000"
        volumes:
            - static_volumes:/app/static
            - media_volumes:/app/media
    nginx:
        image: nginx:latest
        restart: always
        ports:
            - "80:80"
            - "443:443"
        depends_on:
            - web
        volumes:
            - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
            - ./certs:/etc/nginx/certs:ro
            - static_volumes:/static:ro
            - media_volumes:/media:ro

volumes:
    static_volumes:
    media_volumes:


