services:
    web:
        restart: always
        build: .
        command: >
            sh -c "
            python manage.py migrate &&
            python manage.py collectstatic --noinput &&
            gunicorn backend.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 60
            "
        ports:
            - "8000:8000"
        volumes:
            - static_volumes:/app/static
            - media_volumes:/app/media
    nginx:
        image: nginx:latest
        restart: always
        ports:
            - "80:80"
        depends_on:
            - web
        volumes:
            - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
            - static_volumes:/static:ro
            - media_volumes:/media:ro

volumes:
    static_volumes:
    media_volumes:


