attrs>=19.2.0
celery==5.3.6
certifi==2024.2.2
chardet==5.2.0
defusedxml==0.7.1
django==4.2.15
django-allauth==0.61.1
django-embed-video==1.4.9
django-filter==23.2
django-multiselectfield==0.1.12
django-webpack-loader==0.7.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.2.0
idna==3.8
oauthlib==3.2.2
Pillow==10.2.0
pluggy==1.0.0
py==1.11.0
PyJWT==2.4.0
pytest==8.0.2
pytest-django==4.8.0
python-decouple==3.6
python3-openid==3.2.0
pytz==2023.4
requests[security]
six==1.16.0
urllib3==1.26.19
whitenoise==6.6.0
dj-database-url==1.2.0
gunicorn==20.1.0
psycopg2-binary==2.9.9
django-storages==1.13.2
boto3==1.28.39
django-markdownx==4.0.0b1
coreapi==2.3.3
WeasyPrint==53.3
redis==5.0.1
social-auth-app-django==5.0.0
django-rest-framework-social-oauth2==1.2.0
django-cors-headers==3.13.0
django-celery-beat==2.5.0
cairocffi==1.7.0
bs4==0.0.1
django-oauth-toolkit==2.3.0
html5lib==1.1
cloudscraper==1.2.64
django-redis==5.2.0
python-memcached==1.59
