attrs>=19.2.0
celery==5.3.6
certifi==2024.8.30
chardet==5.2.0
defusedxml
django==4.2.17
django-allauth==0.61.1
django-embed-video==1.4.9
django-filter==23.2
django-multiselectfield==0.1.12
djangorestframework==3.15.2
djangorestframework_simplejwt==5.2.0
idna==3.10
oauthlib==3.2.2
Pillow==10.3.0
pluggy==1.0.0
py==1.11.0
PyJWT==2.9.0
pytest==8.0.2
pytest-django==4.8.0
python-decouple==3.6
django-decouple==2.1
python3-openid==3.2.0
pytz==2024.2
requests[security]
six==1.16.0
urllib3==2.2.3
whitenoise==6.6.0
django-storages
django-markdownx==4.0.0b1
coreapi==2.3.3
coverage
WeasyPrint==53.3
redis==5.0.1
social-auth-app-django==5.4.2
django-rest-framework-social-oauth2==1.2.0
django-cors-headers==3.13.0
bs4==0.0.1
django-oauth-toolkit==2.3.0
model-mommy==2.0.0
html5lib==1.1
cloudscraper==1.2.64
django-redis==5.2.0
python-memcached==1.59
drf-spectacular==0.28.0
structlog==24.4.0
python-json-logger==2.0.7
