attrs>=19.2.0
celery==5.3.0b1
certifi==2022.12.7
chardet==3.0.4
defusedxml
django==4.1.7
django-allauth==0.50.0
django-embed-video==1.4.8
django-filter==2.4.0
django-multiselectfield==0.1.12
django-webpack-loader==1.7.0
djangorestframework==3.14.0
idna==2.10
oauthlib==3.2.2
Pillow==9.3.0
pluggy==1.0.0
py==1.11.0
PyJWT==2.4.0
pytest==7.2.0
pytest-django==4.5.2
python-decouple==3.6
django-decouple==2.1
python3-openid==3.2.0
pytz==2022.6
requests[security]
six==1.16.0
urllib3==1.26.13
whitenoise==6.2.0
django-storages
django-markdownx==3.0.1
coreapi==2.3.3
coverage
WeasyPrint==58.0
redis==4.3.4
social-auth-app-django==5.0.0
django-rest-framework-social-oauth2==1.1.0
django-cors-headers==3.13.0
django-celery-beat==2.4.0
bs4==0.0.1
django-oauth-toolkit==2.0.0
model-mommy==2.0.0
html5lib==1.1
cloudscraper==1.2.64
django-redis==5.2.0
python-memcached==1.59
