{% extends "registration/base.html" %}

{% block title %}{% endblock %}

{% block content %}
  {% if validlink %}
    <div class="w-full">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" novalidate>
            <section class="content">
                <h3>Changer votre mot de password</h3>
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.as_p }}
                </div>
                <div class="actions">
                    <div class="flex items-center justify-between">
                        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">Confirmer</button>
                    </div>
                </div>
            </section>
        </form>
    </div>
  {% else %}
    <p>
        Le lien de réinitialisation du mot de passe était invalide, peut-être parce qu'il a déjà été utilisé.
        Veuillez demander une nouvelle réinitialisation du mot de passe.
    </p>
  {% endif %}
{% endblock %}
