{% extends "registration/base.html" %}
{% load filters %}
{% load i18n %}
{% block title %}{% endblock %}

{% block content %}
  {% if validlink %}
    <div class="w-full">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" novalidate>
            <section class="content">
                <h3>{% trans 'Changer votre mot de password' %}</h3>
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.new_password1.label_tag|addclass:'block mb-2 text-sm font-bold text-gray'}}
                    {{ form.new_password1|addclass:'w-full px-3 py-2 text-sm leading-tight text-gray-dark border rounded shadow appearance-none focus:outline-none focus:shadow-outline' }}
                    {{ form.new_password1.errors|addclass:'mt-4' }}

                    {{ form.new_password2.label_tag|addclass:'block mb-2 text-sm font-bold text-gray' }}
                    {{ form.new_password2|addclass:'w-full px-3 py-2 text-sm leading-tight text-gray-dark border rounded shadow appearance-none focus:outline-none focus:shadow-outline' }}
                    {{ form.new_password2.errors|addclass:'mt-4' }}

                    <div class="help mt-4">{{ form.new_password1.help_text|safe }}</div>
            </div>
                <div class="actions">
                    <div class="flex items-center justify-between">
                        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">Confirmer</button>
                    </div>
                </div>
            </section>
        </form>
    </div>
  {% else %}
    <p>
        {% trans "Le lien de réinitialisation du mot de passe était invalide, peut-être parce qu'il a déjà été utilisé.
        Veuillez demander une nouvelle réinitialisation du mot de passe" %}.
    </p>
  {% endif %}
{% endblock %}
