{% extends "registration/base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="w-full max-w-xs">
  <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <section class="content">
          <h2>Vous avez oublié votre mot de passe ?</h2>
          {% csrf_token %}
          <div class="mb-4">
              {{ form.as_p }}
          </div>
          <div class="actions">
              <div class="flex items-center justify-between">
                  <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">Changer le mot de passe</button>
              </div>
          </div>
    </section>
  </form>
</div>
{% endblock %}
