packages:
  yum:
    cairo: []
    pango: []
    libxml2: []
    libxslt: []
    #libffi: []
    gcc: []
    libffi-devel: []
    openssl-devel: []
    python-devel: []

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
