container_commands:
  01_migrate:
    command: "django-admin.py makesuper"
  02_populate_categories:
    command: "django-admin.py populate_categories"
  03_populate_board:
    command: "django-admin.py populate_board"
  04_populate_subcategories:
    command: "django-admin.py populate_subcategories"
  05_populate_lexique:
    command: "django-admin.py populate_lexique"
  06_populate_faq:
    command: "django-admin.py populate_faq"
  07_populate_fanfiction:
    command: "django-admin.py populate_fanfiction"
