container_commands:
  01_migrate:
    command: "django-admin.py makesuper"
    leader_only: true
  02_populate_fanfiction:
    command: "django-admin.py populate_fanfiction"
    leader_only: true
  03_populate_categories:
    command: "django-admin.py populate_categories"
    leader_only: true
  04_populate_board:
    command: "django-admin.py populate_board"
  05_populate_subcategories:
    command: "django-admin.py populate_subcategories"
    leader_only: true
  06_populate_lexique:
    command: "django-admin.py populate_lexique"
    leader_only: true
  07_populate_faq:
    command: "django-admin.py populate_faq"
    leader_only: true
