{% extends "forum/base.html" %}
{% load i18n %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item actif">{% trans 'Se connecter' %}</li>
{% endblock %}

{% block content %}
<form class="form-horizontal w-3/4 mx-auto" method="POST" novalidate>
    {% if form.errors %}
        <p>{% trans 'Votre nom d\'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.' %}</p>
    {% endif %}

    <input type="hidden" name="next" value="{{ next }}">

    {% csrf_token %}
    
    {{ form.as_p }}
   
    <div class="flex flex-col mt-8">
        <button type="submit" class="bg-teal-500 hover:bg-teal-700 text-white text-sm font-semibold py-2 px-4 rounded">
            {% trans 'Connexion' %}
        </button>
    </div>

    </form> 
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}
