{% load render_bundle from webpack_loader %}
{% load staticfiles %}
<html lang="fr">
    <head>
    <meta charset="UTF-8">
    <title>Fanfiction</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--- <link rel="manifest" href="{% static 'manifest.json' %}">--->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="mobile-web-app-capable" content="yes">
    {% render_bundle 'app' 'css' %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% render_bundle 'app' 'js' %}
        <!---<script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker
          .register("{% static 'sw.js' %}")
          .then(function() {
              console.log('Service Worker Registered');
            }).catch(function(error){
              console.log(error);
            });
        }
        </script>--->
    </body>
</html>
