name: Deploy Docker to Alibaba ECS

on:
    push:
        branches:
            - main
            - staging

env:
    IMAGE_NAME: ${{ vars.DOCKER_USERNAME }}/fanfiction:latest

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment: fanfiction-fr
        permissions:
            contents: read
            packages: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ vars.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: Dockerfile
                  push: true
                  tags: ${{ env.IMAGE_NAME }}

            - name: SSH deploy to ECS
              uses: appleboy/ssh-action@master
              env:
                  ALIYUN_BDD_NAME: ${{ secrets.ALIYUN_BDD_NAME }}
                  ALIYUN_BDD_USER: ${{ secrets.ALIYUN_BDD_USER }}
                  ALIYUN_BDD_PASSWORD: ${{ secrets.ALIYUN_BDD_PASSWORD }}
                  ALIYUN_BDD_HOST: ${{ secrets.ALIYUN_BDD_HOST }}
                  ALIYUN_BDD_PORT: ${{ secrets.ALIYUN_BDD_PORT }}
                  DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
                  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
                  SECRET_KEY: ${{ secrets.SECRET_KEY }}
                  DEBUG: ${{ secrets.DEBUG }}
                  ADMIN_EMAIL: ${{secrets.ADMIN_EMAIL}}
                  ADMIN_NAME: ${{secrets.ADMIN_NAME}}
                  SENDGRID_SERVER: ${{secrets.SENDGRID_SERVER}}
                  SENDGRID_PORT: ${{secrets.SENDGRID_PORT}}
                  SENDGRID_USERNAME: ${{secrets.SENDGRID_USERNAME}}
                  SENDGRID_PASSWORD: ${{secrets.SENDGRID_PASSWORD}}
                  OSS_ACCESS_KEY_ID: ${{secrets.OSS_ACCESS_KEY_ID}}
                  OSS_ACCESS_KEY_SECRET: ${{secrets.OSS_ACCESS_KEY_SECRET}}
                  OSS_EXPIRE_TIME: ${{secrets.OSS_EXPIRE_TIME}}
                  OSS_BUCKET_NAME: ${{secrets.OSS_BUCKET_NAME}}
                  OSS_ENDPOINT: ${{secrets.OSS_ENDPOINT}}
              with:
                  host: ${{ secrets.ECS_HOST }}
                  username: ${{ secrets.ECS_USERNAME }}
                  key: ${{ secrets.ECS_SSH_KEY }}
                  port: ${{ secrets.ECS_SSH_PORT }}
                  timeout: 30s
                  command_timeout: 10m
                  envs: OSS_ACCESS_KEY_ID,OSS_ACCESS_KEY_SECRET,OSS_EXPIRE_TIME,OSS_BUCKET_NAME,OSS_ENDPOINT,SENDGRID_PASSWORD,SENDGRID_USERNAME,SENDGRID_PORT,SENDGRID_SERVER,ADMIN_EMAIL,ADMIN_NAME,ALIYUN_BDD_NAME,ALIYUN_BDD_USER,ALIYUN_BDD_PASSWORD,ALIYUN_BDD_HOST,ALIYUN_BDD_PORT,DOCKER_USERNAME,DOCKER_PASSWORD,SECRET_KEY,DEBUG
                  script: |
                      # login to docker hub
                      IMAGE_NAME="$DOCKER_USERNAME/fanfiction:latest"

                      echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

                      # run new container with the new image
                      docker pull $IMAGE_NAME
                      docker stop fanfiction || true
                      docker rm fanfiction || true
                      docker run -d --name fanfiction \
                        -p 8000:8000 \
                        -e DJANGO_SETTINGS_MODULE=backend.settings_production \
                        -e SECRET_KEY="$SECRET_KEY" \
                        -e ALIYUN_BDD_NAME="$ALIYUN_BDD_NAME" \
                        -e ALIYUN_BDD_USER="$ALIYUN_BDD_USER" \
                        -e ALIYUN_BDD_PASSWORD="$ALIYUN_BDD_PASSWORD" \
                        -e ALIYUN_BDD_HOST="$ALIYUN_BDD_HOST" \
                        -e ALIYUN_BDD_PORT="$ALIYUN_BDD_PORT" \
                        -e DEBUG="$DEBUG" \
                        -e ADMIN_EMAIL="$ADMIN_EMAIL" \
                        -e ADMIN_NAME="$ADMIN_NAME" \
                        -e SENDGRID_SERVER="$SENDGRID_SERVER" \
                        -e SENDGRID_PORT="$SENDGRID_PORT" \
                        -e SENDGRID_USERNAME="$SENDGRID_USERNAME" \
                        -e SENDGRID_PASSWORD="$SENDGRID_PASSWORD" \
                        -e OSS_ACCESS_KEY_ID="$OSS_ACCESS_KEY_ID" \
                        -e OSS_ACCESS_KEY_SECRET="$OSS_ACCESS_KEY_SECRET" \
                        -e OSS_EXPIRE_TIME="$OSS_EXPIRE_TIME" \
                        -e OSS_BUCKET_NAME="$OSS_BUCKET_NAME" \
                        -e OSS_ENDPOINT="$OSS_ENDPOINT" \
                        $IMAGE_NAME

                      # Wait for container to start
                      sleep 10

                      # Display logs
                      echo "=== Docker Container Logs ==="
                      docker logs fanfiction --tail 100

                      # logout from docker hub
                      docker logout
