name: Deploy Django to Alibaba ECS

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Python 3.12.8
              uses: actions/setup-python@v5
              with:
                  python-version: 3.12.8
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: SSH deploy to ECS
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.ECS_HOST }}
                  username: ${{ secrets.ECS_USERNAME }}
                  key: ${{ secrets.ECS_SSH_KEY }}
                  script: |
                      cd /home/ubuntu/app
                      git pull
                      source fanfiction_venv/bin/activate
                      pip install -r requirements.txt
                      python manage.py collectstatic --noinput
                      python manage.py migrate
                      sudo systemctl restart gunicorn

