name: Deploy Docker to Alibaba ECS

on:
    push:
        branches:
            - main
            - staging

env:
    IMAGE_NAME: ${{ vars.DOCKER_USERNAME }}/fanfiction:latest

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment: fanfiction-fr
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ vars.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: Dockerfile
                  push: true
                  tags: ${{ env.IMAGE_NAME }}

            - name: SSH deploy to ECS
              uses: appleboy/ssh-action@master
              env:
                  ALIYUN_BDD_NAME: ${{ secrets.ALIYUN_BDD_NAME }}
                  ALIYUN_BDD_USER: ${{ secrets.ALIYUN_BDD_USER }}
                  ALIYUN_BDD_PASSWORD: ${{ secrets.ALIYUN_BDD_PASSWORD }}
                  ALIYUN_BDD_HOST: ${{ secrets.ALIYUN_BDD_HOST }}
                  ALIYUN_BDD_PORT: ${{ secrets.ALIYUN_BDD_PORT }}
                  DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
                  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
                  SECRET_KEY: ${{ secrets.SECRET_KEY }}
                  DEBUG: ${{ secrets.DEBUG }}
              with:
                  host: ${{ secrets.ECS_HOST }}
                  username: ${{ secrets.ECS_USERNAME }}
                  key: ${{ secrets.ECS_SSH_KEY }}
                  port: ${{ secrets.ECS_SSH_PORT }}
                  timeout: 30s
                  command_timeout: 10m
                  script: |
                      # login to docker hub
                      mkdir -p ~/.docker
                      AUTH=$(echo -n "$DOCKER_USERNAME:$DOCKER_PASSWORD" | base64 -w 0)

                      # Write config file with proper JSON
                      cat > ~/.docker/config.json <<EOF
                      {
                        "auths": {
                          "https://index.docker.io/v1/": {
                            "auth": "$AUTH"
                          }
                        }
                      }
                      EOF

                      IMAGE_NAME="$DOCKER_USERNAME/fanfiction:latest"

                      # run new container with the new image
                      docker pull $IMAGE_NAME
                      docker stop fanfiction || true
                      docker rm fanfiction || true
                      docker run -d --name fanfiction \
                        -p 8000:8000 \
                        -e DJANGO_SETTINGS_MODULE=backend.settings_production \
                        -e SECRET_KEY="$SECRET_KEY" \
                        -e ALIYUN_BDD_NAME="$ALIYUN_BDD_NAME" \
                        -e ALIYUN_BDD_USER="$ALIYUN_BDD_USER" \
                        -e ALIYUN_BDD_PASSWORD="$ALIYUN_BDD_PASSWORD" \
                        -e ALIYUN_BDD_HOST="$ALIYUN_BDD_HOST" \
                        -e ALIYUN_BDD_PORT="$ALIYUN_BDD_PORT" \
                        -e DEBUG="$DEBUG" \
                        $IMAGE_NAME

                      # logout from docker hub
                      rm ~/.docker/config.json
